@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Trirong', serif;
    background-color: rgb(15 23 42);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: .25rem;
  border-radius: 12px;
}
body::-webkit-scrollbar-thumb {
    background-color: #f88e8e;
  border-radius: 20px;
}